@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

html{
    padding:0;
    margin:0;
    height:100%;
}



#calc-grid{
    margin:auto;
    font-family: 'Squada One', cursive;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 75px 100px 100px 100px 100px;
    width:330px;
    border:1px solid black;
    grid-template-areas: 'display display display display'
                         'seven-btn eight-btn nine-btn plus-btn'
                         'four-btn five-btn six-btn minus-btn'
                         'one-btn two-btn three-btn multiply-btn'
                         'clear-btn zero-btn divide-btn equal-btn';
}

#display{
    padding:0;
    margin:0;
    grid-area: display;
    background-color: aquamarine;
    width:100%;
    height: 100%;
    text-align: end;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    
}

.number{
    font-family: 'Squada One', cursive;
    padding:0;
    background-color: rgb(147, 187, 178);
    border:1px solid black;
}

.number:hover{
    background-color: rgb(84, 107, 102);
    cursor: grab;
}

.operator{
    font-family: 'Squada One', cursive;
    font-size: 1.5rem;
    border:1px solid black;
    background-color: rgb(189, 191, 190);
}

.operator:hover{
    background-color: rgb(125, 125, 125);
    cursor:grab;
}

.display-value{
    padding-right: .5rem;
    font-size: 1.5rem;
}

#equal-btn{
    font-family: 'Squada One', cursive;
    font-size: 1.5rem;
    background-color: orange;
    border:1px solid black;
}

#equal-btn:hover{
    background-color: rgb(255, 116, 3);
    cursor: grab;
}

#clear-btn{
    font-family: 'Squada One', cursive;
    font-size: 1.5rem;
    background-color: rgb(255,0,0);
    border:1px solid black;
}

#clear-btn:hover{
    background-color: rgb(189,2,2);
    cursor: grab;
}
#one-btn{
    grid-area: one-btn;
}
#two-btn{
    grid-area: two-btn;
}
#three-btn{
    grid-area: three-btn;
}
#four-btn{
    grid-area: four-btn;
}
#five-btn{
    grid-area: five-btn;
}
#six-btn{
    grid-area: six-btn;
}
#seven-btn{
    grid-area: seven-btn;
}
#eight-btn{
    grid-area: eight-btn;
}
#nine-btn{
    grid-area: nine-btn;
}
#zero-btn{
    grid-area: zero-btn;
}
#plus-btn{
    grid-area: plus-btn;
}
#minus-btn{
    grid-area: minus-btn;
}
#multiply-btn{
    grid-area: multiply-btn;
}
#divide-btn{
    grid-area: divide-btn;
}
#equal-btn{
    grid-area: equal-btn;
}
#clear-btn{
    grid-area: clear-btn;
}

@media only screen and (max-width:600px){
    #calc-grid{
        width:300px;
        
    }
}